{% extends "template.html" %}

{% block body %}
<div>
    {% for index in range(bingo_data | length) %} 
        
    {% endfor %}

    <div id="bingo-card">
        {% for row in range(size) %}
            <div class="bingo-row">
                {% for column in range(size) %}
                    <div class="bingo-cell">
                        {{bingo_data[(row*size + column)]}}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}